.app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    width: 320px;
    height: 320px;
    margin: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2 {
    text-align: center;
    color: #63d6d0;
    padding: 0 20px;
}

.main-video {
    max-width: 320px;
    margin: 0 auto;
}
